@font-face {
  font-family: 'Aktiv Grotesk';
  src: url(./AktivGrotesk.otf);
}

@font-face {
  font-family: 'Soho Thin Compressed';
  src: url(./SohoThinCompressed.otf);
}

:root {
  --accent: #0000ff;
  /* --accent: hsl(228, 47%, 41%); */
  --swiper-theme-color: #0000ff;
  --primary: #313131;
  --secondary: #616161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  font-family: 'Aktiv Grotesk';
  color: var(--primary);
  position: relative;
  background: url('./img/background.webp');
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><circle cx="10" cy="10" r="10" fill="blue"/></svg>')
      10 10,
    auto;
  overflow-y: scroll;
}

/* Common */
img {
  max-height: 100%;
  max-width: 100%;
}

.section {
  height: 100vh;
  max-width: 1500px;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid red; */
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
}

.section .infos {
  display: flex;
  place-items: center;
  max-width: 300px;
}

.section .infos h1 {
  font-size: 5rem;
  font-weight: lighter;
  font-family: 'Soho Thin Compressed';
  margin-right: 1rem;
  line-height: 100%;
}

.section .infos h2 {
  font-size: 2rem;
  color: var(--accent);
  text-transform: uppercase;
  display: inline;
  max-width: 8ch;
  max-width: fit-content;
}

.section .cover {
  max-height: 25vh;
}

.section .keywords {
  display: none;
}

.section .description h4 {
  margin: 1rem 1rem 0.25rem 1rem;
  color: var(--secondary);
}

.section .description p {
  max-width: 50ch;
  margin: 0.25rem 1rem;
}

.section a {
  background-color: var(--accent);
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid var(--accent);
  box-shadow: 2px 2px 10px -2px hsla(240, 100%, 50%, 0.7);
  transition: background-color 0.25s, color 0.25s;
}

.section a:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><circle cx="20" cy="20" r="20" fill="blue"/></svg>')
      20 20,
    auto;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 2px solid var(--accent);
}

/* Hero */
#hero {
  height: 100vh;
}

/* Swiper */
.swiper {
  height: 350px;
  width: 100%;
}

.swiper-slide {
  display: flex;
  width: fit-content;
  height: 100%;
}

.swiper-slide img {
  object-fit: contain;
  margin: auto 1rem;
  height: 100%;
  width: 100%;
}

/* Swiper alternative */
.imgContainer {
  max-width: 50%;
  margin: auto 0;
  padding: 5rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.imgContainer img {
  height: 100%;
  object-fit: cover;
  /* border: 1px solid red; */
}

.imgContainer img:hover,
.magnifyModal .magnifyModalContent img {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><circle cx="20" cy="20" r="20" fill="blue"/></svg>')
      20 20,
    auto;
}

.project1 .imgContainer img:nth-child(1) {
  /* grid-column: span 2; */
  box-shadow: none;
  width: 100%;
  object-fit: contain;
}

.project1 .imgContainer img:nth-child(2),
.project2 .imgContainer img:nth-child(1),
.project4 .imgContainer img:nth-child(1) {
  grid-row: span 2;
}

.project3 .imgContainer {
  grid-auto-rows: 100%;
}

.project3 .imgContainer img {
  object-fit: contain;
}

.project5 .imgContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, calc(100% / 3 - 0.5rem)));
  grid-auto-rows: 50%;
  grid-auto-flow: dense;
}

.project5 .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Contact */
.contactDiv {
  position: relative;
}

.contactDiv .contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10vw;
  align-items: center;
  max-width: 900px;
}

.contactDiv .contactContainer img:first-of-type,
.contactDiv .contactContainer .contactInfos {
  margin: auto;
}

.contactDiv .contactContainer > img {
  max-height: 40vh;
  max-width: 50%;
  object-fit: contain;
}

.contactDiv .contactInfos {
  display: grid;
  gap: 2.5vh;
  place-content: center;
  max-width: 35ch;
  text-align: center;
}

.contactDiv .contactInfos a {
  width: fit-content;
  margin: 0 auto;
}

/* .contactContainer h3 {
  width: 100%;
  text-align: center;
  position: relative;
} */

.contactContainer img:last-child {
  max-width: 40px;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: rotate(90deg) translateY(50%);
}

/* Gallery */
.galleryContainer {
  max-height: none;
  height: fit-content;
  max-width: 100vw;
  margin-bottom: 0;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  max-width: min(1000px, 100%);
  gap: 0.25rem;
}

#gallery img {
  height: 100%;
  /* min-width: 100%; */
  max-width: 100%;
  object-fit: cover;
}

#gallery img.horizontal {
  place-self: center;
}

/* Javascript */
main {
  transition: opacity 0.25s;
}

.hidden {
  transition: opacity 0.25s;
  opacity: 0;
}

/* Magnify */
.magnifyModal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition: opacity 0.25s;
}

.magnifyModal .magnifyModalContent {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

.magnifyModal .magnifyModalContent img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: contain;
  background-color: white;
}

@media screen and (min-height: 700px) {
  .section .keywords {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: min(500px, 100%);
  }

  .section .keywords h3 {
    border: 2px solid var(--accent);
    border-radius: 20px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--secondary);
  }
}

@media screen and (min-width: 503px) {
  #gallery img.horizontal {
    grid-column: span 2;
  }
}

@media screen and (min-width: 750px) {
  #gallery img.horizontal {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1200px) {
  #gallery img.horizontal {
    grid-column: span 4;
  }
}

@media screen and (min-width: 1024px) {
  /* html {
    scroll-snap-type: none;
  } */

  .section .cover {
    max-height: 100vh;
    max-width: 50%;
    object-fit: contain;
    padding: 0 1rem;
  }

  .section .swiper {
    height: 100%;
    width: 50%;
  }
}
